%footer#footer.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.well.text-muted.text-center
    %p
      %span.glyphicon.glyphicon-bullhorn
      Qiita:Teamは非対応です
    %p.copyright.pull-left
      (c) 2016
      %a{ href: 'https://github.com/noriaki' }
        @noriaki
    %ul.list-inline.pull-right
      %li
        %a{ href: 'https://github.com/noriaki/com_hb2qiita' } Github
      %li
        %a{ href: 'https://github.com/noriaki/com_hb2qiita/issues?q=is%3Aopen' } Feedback
