# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  domain_name: dev.hb2qiita.com
  secret_key_base: a3741a79dc7a24b113cda3f4cfecdf48bccf07c86ed20cbe5d4cfcb50e1296e7ee3666dfe8f0c55ae05db2ec93761816c400e1231c44f8e1fcdf5261ddc8cada

test:
  secret_key_base: 372c40069865d887bc1c3bd78294c81d34d7cf41d05696f73751718bac7621620cecac79a80a4794b7ac3426ce2b321a48b78c6ec632485e35bfd33626909b0d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
